body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header__title {
  margin: 0;
}


.logout {
  background-color: #fff;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}




.content-tab{
  display: flex;
  flex-direction: row;
}

/* Style the tab */
.tab {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  background-color: #d5d5d5;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

/* Style the tab content */
.tabcontent {
  width: 50%;
  display: none;
  padding: 0px 0px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}



.tabcontent2 {
  width: 50%;
  display: none;
  padding: 0px 0px;
  animation: fadeEffect 1s;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.forms-block{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}


.form-container {
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.assing-container {
  display: flex;
}


#registration-form {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  min-width: 100px;
  margin: 0px auto;
  position: relative;
}

#registration-form .fieldset {
  background-color: #d5d5d5;

}

#registration-form legend {
  text-align: center;
  background: #364351;
  width: 100%;
  padding: 30px 0;
  color: white;
  font-size: 2em;
}

.fieldset form {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
}

.placeholder #registration-form label {
  display: none;
}

.no-placeholder #registration-form label {
  margin-left: 5px;
  position: relative;
  display: block;
  color: grey;
  text-shadow: 0 1px white;
  font-weight: bold;
}

/* all */
::-webkit-input-placeholder {
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
}

::-moz-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
}

/* firefox 19+ */
:-ms-input-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
}

/* ie */
#registration-form input[type=text] {
  padding: 15px 20px;
  border-radius: 1px;
  margin: 5px auto;
  background-color: #f7f7f7;
  border: 1px solid silver;

  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  -ms-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.no-placeholder #registration-form input[type=text] {
  padding: 10px 20px;
}

#registration-form input[type=text]:active,
.placeholder #registration-form input[type=text]:focus {
  outline: none;
  border-color: silver;
  background-color: white;
}

#registration-form input[type=submit] {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #5C8CA7;
  padding: 10px;
  color: white;
  border: 1px solid #3498db;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
}

#registration-form input[type=submit]:hover {
  background-color: #2980b9;
}

#registration-form input[type=submit]:active {
  background: #5C8CA7;
}


.parsley-error-list {
  background-color: #C34343;
  padding: 5px 11px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 3px 3px;
  margin-top: -5px;
  margin-bottom: 5px;
  color: white;
  border: 1px solid #870d0d;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: -1px;
  text-shadow: 0px 1px 1px #460909;
  font-weight: 700;
  font-size: 12px;
}

.parsley-error {
  border-color: #870d0d !important;
  border-bottom: none;
}

#registration-form select {
  width: 100%;
  padding: 5px;
}

::-moz-focus-inner {
  border: 0;
}



.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  overflow-x: auto;
}

.table-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


table {
  max-width: 100%;
  width: 50%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}


@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .forms-block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table {
    font-size: 14px;
  }
}